* text=auto
*.sh text eol=lf
*.py text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
Caddyfile text eol=lf
*.png binary
*.wasm binary
*.webp binary
mobile/web/drift_worker.js -diff linguist-vendored
mobile/web/sqlite3.wasm linguist-vendored
